[Unit]
Description=LED Display Driver
After=network.target

[Service]
Type=simple
User=pi
ExecStart=/usr/bin/led-display -mode=1 -buckets=60 -columns=180 -pilocal -headless -frame-rate=100
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target